@use "variables" as *;

.banner-section {
    background-image: url('@/assets/Shop/banner.webp');
    background-position: $flex-center;
    background-size: cover;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: $flex-center;
    align-items: $flex-center;

    .breadcrumb-banner {
        display: flex;
        justify-content: $flex-center;
        align-items: $flex-center;
        gap: 6px;

        .bc-name {
            color: $text-primary;
            font-size: $font-size-base;
            font-weight: $font-weight-semiBold;
            text-decoration: none;
            // &::after {
            //     content: '>';
            //     margin-left: 5px;
            //     font-size: 16px;
            //     font-weight: 500;
            //     transform: scaleX(0);
            //     cursor: default;;
            //     // opacity: 1;
            // }
        }
        .separator {
            font-size: 20px;
        }
    }
}