@use "variables" as *;

.asgaard-sofa-page {
  background: $bg-banner;
  padding: 2rem;

  .asgaard-sofa-breadcrumb {}

  .breadcrumb-path {
    display: inline-flex;
    align-items: $flex-center;
    gap: 0.75rem;
  }

  .breadcrumb-path .bc-name {
    color: $text-secondary;
    text-decoration: none;
  }

  .breadcrumb-path .bc-name:hover {
    color: #000;
  }

  .breadcrumb-path .separator {
    color: #000;
    font-size: $font-size-normal;
    font-weight: 500;
  }

  .breadcrumb-current {
    display: inline-flex;
    align-items: $flex-center;
    position: relative;
    padding-left: $spacing-lg;
    color: #352d28;
    font-weight: 600;
  }

  .breadcrumb-current::before {
    content: "";
    position: absolute;
    left: 0;
    width: 1.5px;
    height: 26px;
    background: $text-secondary;
    margin-left: 5px;
  }
}